<script type="text/javascript">
  var messengersList = {{ messengers }};
  var messengers = {};
  Object.keys(messengersList).forEach(function(key){
    var msng = messengersList[key];
    messengers[msng.short] = msng;
  })

  var isMobile = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
  var isAndroid = (/Android/i.test(navigator.userAgent));
  var msngValues = {};

  var url = new URL(window.location);
  var urlParts = url.pathname.split('/');
  var search = location.search.substring(1);

  if (urlParts.length > 2 && urlParts[1] && messengers[urlParts[1]] && urlParts[2] && urlParts[2].length > 0) {
    // if /wa/123123
    msngValues[urlParts[1]] = urlParts[2]
  } else if (search.length > 3) {
    // if ?123123=wa
    var searchObj = JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')
    Object.keys(searchObj).forEach(function(val) {
      var msng = searchObj[val];
      var splittedMsng = msng.match(/.{1,2}/g);
      splittedMsng.forEach(function(sm) {
        if (messengers[sm]) {
          msngValues[sm] = val;
        }
      })
    })
  }
  
  var html = "";

  Object.keys(msngValues).forEach(function(msngSymbol) {
    var msngValue = msngValues[msngSymbol];
    var link = messengers[msngSymbol].short_link;
    if (!isMobile && messengers[msngSymbol].desktop_short_link) {
      link = messengers[msngSymbol].desktop_short_link
    }
    var href = link.replace('{-}', msngValue);
    html += `
      <a href="${href}" class="d-inline-block my-2 mx-1" target="_blank">
        <small style="white-space:nowrap;">${ messengers[msngSymbol].name }</small><br />
        <svg width="50" height="50" class="${messengers[msngSymbol].slug}-bg">
          <use href="#${ messengers[msngSymbol].slug }" />
        </svg>
      </a>
    `
  });

  if (html.length > 0) {
    var userLang = navigator.language || navigator.userLanguage;
    userLang = userLang.substring(0, 2);
    if (['ru', 'en', 'es', 'de'].indexOf(userLang) < 0) userLang = 'en'
    var langsList = {{ languages | map: 'lang' }};
    var userH1 = langsList.find(lang => lang.symbol == userLang);

    var contentWrapper = document.getElementById('content-wrapper');
    document.title = userH1.write_to_me;
    contentWrapper.classList.add('messengers-content')
    contentWrapper.innerHTML = `
      <div class="msg-page text-center">
        <h1>${ userH1.write_to_me }</h1>
        <div class="white-bg-msng has-${Object.keys(msngValues).length}-messengers">
          ${html}
        </div>
      </div>  
    `;
  } else {
    var gglHeader = contentWrapper = document.getElementById('ggl-header');
    var isHome = contentWrapper = document.getElementById('is-home');
    if (gglHeader && isHome) {
      (adsbygoogle = window.adsbygoogle || []).push({})
    }
  }

</script>