---
permalink: 404.html
eleventyExcludeFromCollections: true
---
{%- assign title = '404' -%}
{%- assign description = '404' -%}

<!doctype html>
<html lang="en">
{% include head %}
<body>
<div id="content-wrapper">
  <h1 class="text-center pb-0" id="h1">404</h1>
  <div class="container">
    <div class="text-center white-bg-msng" id="row-messengers">
      Page not found
    </div>
  </div>
</div>

<div class="msng-link">
  <a href="{{ '/' | absoluteUrl }}">
    {{ '/' | absoluteUrl | remove: "https://" }}
  </a>
</div>

<div class="d-none">
  {{ '/src/sprites/messengers.svg' | svgContents }}
</div>

{% include messengers_js %}
{% include metrika %}  
</body>
</html>