---
permalink: 404.html
eleventyExcludeFromCollections: true
---
{%- assign title = '404 title' -%}
{%- assign description = '404 description' -%}

<!doctype html>
<html lang="en">
{% include head %}
<body>
  <h1>{{ title }}</h1>
  <p>If you want to create your custom messenger link, welcome to <a href="{{ '/' | url }}">home</a></p>
  <div id="button"></div>
  <script>
    function ready() {
      let url = new URL(window.location);
      let urlParts = url.pathname.split('/');
      let isMobile = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
      let isAndroid = (/Android/i.test(navigator.userAgent));

      let deeplink = null;

      switch(urlParts[1]) {
        case 'wa':
          deeplink = "whatsapp://send?phone=" + urlParts[2];
          break;
        case 'vi':
          if (isMobile) {
            deeplink = "viber://add?number=" + urlParts[2];
          } else {
            deeplink = "viber://chat?number=" + urlParts[2];
          }
          break;
        case 'tg':
          deeplink = "tg://resolve?domain=" + urlParts[2];
          break;
      }

      if (deeplink) {
        //window.location = deeplink;

        var addIFrame = function() {
          var iframe = document.createElement("iframe");
          iframe.style.border = "none";
          iframe.style.width = "1px";
          iframe.style.height = "1px";
          iframe.src = deeplink;
          document.body.appendChild(iframe);
        };
        addIFrame();

        let a = document.createElement('a');
        let linkText = document.createTextNode("Open");
        a.appendChild(linkText);
        a.title = 'messenger link';
        a.href = deeplink;
        document.getElementById('button').appendChild(a);      
      }
    }

    document.addEventListener("DOMContentLoaded", ready);
  </script>

{% include metrika %}  
</body>
</html>